<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Menuiserie Lévêque</title>

    <script src="menuiserie.js"></script>
</head>
<body>
<!-- Static navbar -->
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Menuiserie Lévêque</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#entreprise">L'entrepise</a></li>
                <li><a href="#nos-realisations">Nos Réalisations</a></li>
                <li><a href="#nous-contacter">Nous contacter</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<!-- +++++ Welcome Section +++++ -->
<div id="entreprise" class="welcome-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">
                <h1>L'entreprise LEVEQUE réalise vos projet</h1>
                <p>Pose de charpente en fermette, charpente traditionnelle avec fabrication et pose de ferme pour toiture à 2, 3 ou 4 pentes, fermes sur brochet, pose de toutes sorte de tuiles, pose de couverture en bardeaux bitumés, rénovations de toiture existante et changement de couverture (tuiles ou autre)</p>
                <p>Fabrication et pose de zinguerie en toiture, pose de velux, ou puits de lumière, démoussage de toiture</p>
                <p>Pose de menuiserie intérieur ou exterieur bois, alu et pvc, réhabilitation de mézzanine. Fabrication et pose d'escalier, réhabilitation de terrasse bois avec ou sans toiture, fabrication de caisse d'emballage petite ou très grande, fabrication de maison en ossature bois, fabrication par caisson et montage. Pose de toute sorte d'isolation en toiture et combles, habillage de façades exterieur en bardage bois ou bardage eterclins, montage de cloison, plafond, doublage en bois ou placo platre, fabrication de mobilier de jardin.</p>

            </div><!-- /col-lg-8 -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /ww -->
<!-- +++++ Projects Section +++++ -->

<div class="container pt" id="nos-realisations">
    <h2>Nos réalisations</h2>

    {% for category in parameters.realisations %}
        <div class="row">
            <h3>{{ category.title }}</h3>

            {% for picture in category.pictures %}
                <div class="col-xs-6 col-md-3">
                    <div class="thumbnail">
                        <img src="{{ picture }}" alt="">
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div><!-- /container -->

<!-- +++++ Footer Section +++++ -->

<div id="nous-contacter" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Siège Social</h4>
                <p>
                    La Coste<br />
                    07160 Dornas
                </p>
            </div><!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>Dépot</h4>
                <p>
                    1000 allée des vergers<br />
                    Z.I. La Palisse<br />
                    07160 Le Cheylard
                </p>
            </div><!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>Contact</h4>
                <p>
                    Michel Lévêque<br/>
                    <span><i class="glyphicon glyphicon-phone"></i> 0686786930</span><br/>
                    <span><i class="glyphicon glyphicon-envelope"></i> <a href="mailto:michel.leveque0020@orange.fr">michel.leveque0020@orange.fr</a></span>
                </p>
            </div><!-- /col-lg-4 -->

        </div>

    </div>
</div>
<div id="map"></div>

{% block javascripts %}
    <script>
        function initMap() {
            var mapDiv = document.getElementById('map');
            var mapCenter = new google.maps.LatLng(44.915000, 4.442022);
            var map = new google.maps.Map(mapDiv, {
                center: mapCenter,
                zoom: 12
            });

            // Create a draggable marker which will later on be binded to a
            // Circle overlay.
            var depot = new google.maps.Marker({
                map: map,
                position: new google.maps.LatLng(44.915000, 4.442022),
                draggable: false,
                title: 'Dépot'
            });

            var circle = new google.maps.Circle({
                map: map,
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.1,
                radius: 30000 // 3000 km
            });

            circle.bindTo('center', depot, 'position');
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC25BcATOuD7c4IeDuKgdsXq2XBLskMxCs&callback=initMap">
    </script>
{% endblock %}
</body>
</html>
